{% extends "layout.html" %}

{% block content %}
    <div class="nav">
    <a href="{{ url_for('index') }}" class="sign">Home</a>
    <a href="{{ url_for('about') }}" class="learn">Learn More</a>    
    </div>
    <div class="pic3"><img height="250" src="{{ url_for('static', filename='img/signup.png') }}"></div>
    <div class="signup">
        <h2>Create an Account</h2>
        <form method="post" action="/signup">
            {{ form.hidden_tag() }}<!--hidden_tag protects against cross site hacking-->
            {{ form.first_name.label }}<br><!--brings these in from forms.py-->
            
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            
            {{ form.first_name }}<br><br>
            
            {{ form.last_name.label }}<br>
            
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            
            {{ form.last_name }}<br><br>
            
            {{ form.email.label }}<br>
            
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            
            {{ form.email }}<br><br>
            
            {{ form.password.label }}<br>
            
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            
            {{ form.password }}<br><br>
            
            {{ form.submit(class="sign") }}
        </form>
    </div>
{% endblock %}